<div class="box">
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="First slide">
    </div>
    <div class="carousel-caption">
      <h2>Welcome to Beer Site !</h2>
      <p>Find proven recipes or add your own and start brewing great beer with us.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Second slide">
    </div>
    <div class="carousel-caption">
      <h2>Check other site features !</h2>
      <p>Site offers also large materials database with f.e. yeasts or malts.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Third slide">
    </div>
    <div class="carousel-caption">
      <h2>Don't forget to visit alike pages !</h2>
      <p>You will find other interesting beer oriented sites at 'useful links' section.</p>
    </div>
  </ng-template>
</ngb-carousel>
</div>
