<br><br>
<div class="container contact-form">
    <h4>Thank you for visit!</h4><br>
    This site was designed mainly in training purposes. You can find its source code at my <a href="https://github.com/dzielnykompanion/BeerSite">GitHub</a>. Feel welcome to check also my other projects!<br>
    <br>    
    <mat-divider></mat-divider>
    <br>
    Used technologies:<br>
    <div class="row">
        <div class="col-md-1">
            BACKEND:
        </div>
        <div class="col-md-10">
            <b>Java 10</b>, <b>Java Spring</b>, Hibernate, MySQL, Tomcat, Postman, Maven
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            FRONTEND:
        </div>
        <div class="col-md-10">
            <b>Angular 11</b>, CSS, HTML 
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            OTHER:
        </div>
        <div class="col-md-10">
            Docker, GitHub, IntelliJ
        </div>
    </div>

    <br>
    <mat-divider></mat-divider>
    <br>


        Drop me a message!<br>
        You can contact me directly by <b>golabek.mat@gmail.com</b> or using below form.<br>
    <form method="post">
       <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-12">
                <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 95px;"></textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-12">
                <input type="submit" name="btnSubmit" class="btnContact btn-primary" value="Send Message" />
            </div>
        </div>
            <!-- <div class="col-md-6">
                <div class="form-group">
                    <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 95px;"></textarea>
                </div>
            </div> -->
    </form>
</div>