<br><br>

<strong>This subsite uses <a href='https://punkapi.com/'>PunkAPI</a></strong><br>
The data in this API is taken directly from BrewDog’s DIY Dog and is therefore free to use, replicate verbatim and share, but cannot be used for commercial purposes. If you have an enquiry about DIY Dog, contact hello@brewdog.com.
<br><br>
<mat-divider></mat-divider><br>


<div *ngFor="let randomBeer of randomBeer" class="container bg-light box">

    <div class="row">

    <div class="col-4">
        <img src="{{randomBeer.image_url}}" class="img" >
    </div>

    <div class="col-8">
        <div class="row"><h1><span class="text-primary">{{randomBeer.name}}</span></h1></div>
        <div class="row"><b>{{randomBeer.tagline}}</b>  {{randomBeer.abv}}% / {{randomBeer.ibu}} IBU</div>
        <br>

        <div class="row"><b>Description:</b></div>
        <div class="row">{{randomBeer.description}}</div>
        <br>

        <div class="row"><b>Malts:</b></div>
        <div *ngFor="let malt of randomBeer.ingredients.malt">
            <ul class="list">
                <li>
                {{malt.name}}
                </li>
            </ul>
        </div>

        <div class="row"><b>Hops:</b></div>
        <div *ngFor="let hop of randomBeer.ingredients.hops">
        <ul class="list">
            <li>
            {{hop.name}} 
            <span class="text-muted">({{hop.add}}/{{hop.attribute}})</span>
            </li>
        </ul>
        </div>


        <div class="row"><b>Yeasts:</b></div>
        <div class="row">{{randomBeer.ingredients.yeast}}</div>
        <br>

        <div class="row"><b>Food pairing:</b></div>
        <div class="row">{{randomBeer.food_pairing}}</div>
        <br>

        <div class="row"><b>Contributed by:</b></div>
        <div class="row">{{randomBeer.contributed_by}}</div>
    
    </div>
</div>
</div>


