<div class="modal-header">
  <h4>Add new beer</h4>
  </div>

<div mat-dialog-content>
  <form #beerForm="ngForm" (ngSubmit)="onSubmit(beerForm.value)">

    <div class="form-group">
      <label for="name">*Beer name:</label>
      <input type="text" #name="ngModel" class="form-control"
      required minlength="3" maxlength="50"
      [class.is-invalid]="name.invalid && name.touched"
      name="name" ngModel>
    </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="mainStyle">*Main style:</label>
      <select type="text" #mainStyle="ngModel" class="custom-select mr-sm-2"
      required 
      [class.is-invalid]="mainStyle.invalid && mainStyle.touched"
      name="mainStyle" ngModel>
        <option selected value="0">LAGER</option>
        <option value="1">ALE</option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <label for="detailedStyle">Detailed style: </label>
      <input type="text" #detailedStyle="ngModel" class="form-control"
      maxlength="50"
      name="detailedStyle" ngModel>
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="alcohol">Alcohol: </label>
      <input type="number" #alcohol="ngModel" class="form-control"
      min="0" max="16"
      customMin="0" customMax="16"
      [class.is-invalid]="alcohol.invalid && alcohol.touched"
      name="alcohol" ngModel>
    </div>

    <div class="form-group col-md-6">
      <label for="biterness">IBU: </label>
      <input type="number" #biterness="ngModel" class="form-control"
      min="0" max="140"
      customMin="0" customMax="140"
      [class.is-invalid]="biterness.invalid && biterness.touched"
      name="biterness" ngModel>
    </div>
  </div>

  <div class="form-group">
      <label for="name">Comments: </label>
      <input type="text" #comments="ngModel" class="form-control"
      name="comments" ngModel>
  </div>

<div class="modal-footer">
  <button class="btn btn-outline-secondary" [mat-dialog-close] = "false">Cancel</button>
  <button class="btn btn-primary" type="submit" [mat-dialog-close] = "true">Add beer</button>
</div>
</form>
</div>